<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Il riepilogo del tuo pagamento</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
  <link href="https://selfcare.pagopa.it/assets/font/selfhostedfonts.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap" rel="stylesheet">
  <style type="text/css">
    @import url(https://selfcare.pagopa.it/assets/font/selfhostedfonts.css);
  </style>
</head>

<body>
  <div class="page">

    <div class="page-wrapper">
      <header class="page-header">
        <section class="pagopa-header">
          <img class="logo" src="assets/logo-pagoPa.svg" />
          <h1 class="title">Ricevuta di pagamento</h1>
        </section>
        <dl class="psp-header">
          <dt>Emessa da</dt>
          <dd><img class="psp-logo" src="assets/nexi-logo.png" /></dd>
        </dl>
      </header>

      <main>
        <div class="content-grid">

          <section class="transaction-data">

            <section class="transaction-data-group">

              {{#with user.data}}
              <dl class="data-key-value">
                <dt>Pagato da</dt>
                <dd class="entityGroup">
                  <span class="entityName">{{firstName}} {{lastName}}</span>
                  <span class="entityCode">{{taxCode}}</span>
                </dd>
              </dl>
              {{/with}}


              <dl class="data-key-value">
                <dt>Indirizzo email</dt>
                <dd class="data-value-big">{{user.email}}</dd>
              </dl>

              <dl class="data-key-value">
                <dt>RRN</dt>
                <dd class="entityCode">{{transaction.rrn}}</dd>
              </dl>

              <dl class="data-key-value">
                <dt>Codice autorizzativo</dt>
                <dd class="entityCode">{{transaction.authCode}}</dd>
              </dl>

            </section>

            <section class="transaction-data-group">

              <dl class="data-key-value">
                <dt>Metodo di pagamento</dt>
                <dd class="data-value-big">
                  <div class="payment-method-group">
                    <img class="payment-method-logo" src={{transaction.paymentMethod.logo}} />
                    {{transaction.paymentMethod.name}}
                  </div>
                </dd>
              </dl>

              {{#if transaction.paymentMethod.accountHolder}}
              <dl class="data-key-value">
                <dt>Intestato a</dt>
                <dd class="data-value-big">{{transaction.paymentMethod.accountHolder}}</dd>
              </dl>
              {{/if}}

              <dl class="data-key-value">
                <dt>Gestore della transazione (PSP)</dt>
                <dd class="data-value-big">{{transaction.psp.name}}</dd>
              </dl>

              <dl class="data-key-value">
                <dt>Data e ora</dt>
                <dd class="data-value-big">{{transaction.timestamp}}</dd>
              </dl>

            </section>

          </section>

          <section class="transaction-detail">

            {{#each cart.items}}

            <section class="transaction-detail-group">

              <!-- Debitore -->
              {{#with this.debtor}}
              <dl class="data-key-value">
                <dt>Debitore</dt>
                <dd>{{fullName}} {{#if taxCode}}({{taxCode}}){{/if}}</dd>
              </dl>
              {{/with}}

              <!-- Ente creditore -->
              <dl class="data-key-value">
                <dt>Ente creditore</dt>
                <dd>{{this.payee.name}}</dd>
              </dl>

              <!-- Codice Fiscale ente -->
              <dl class="data-key-value">
                <dt>Codice Fiscale ente</dt>
                <dd>{{this.payee.taxCode}}</dd>
              </dl>

              <!-- IUV -->
              {{#eq this.refNumber.type "IUV"}}
              <dl class="data-key-value">
                <dt>IUV</dt>
                <dd>{{this.refNumber.value}}</dd>
              </dl>
              {{/eq}}

              <!-- Codice Avviso -->
              {{#eq this.refNumber.type "codiceAvviso"}}
              <dl class="data-key-value">
                <dt>Codice avviso</dt>
                <dd>{{this.refNumber.value}}</dd>
              </dl>
              {{/eq}}

              <!-- Oggetto del pagamento -->
              {{#not @root.cart.items.length 1}}
              <dl class="data-key-value">
                <dt>Oggetto</dt>
                <dd>{{this.subject}}</dd>
              </dl>
              {{/not}}

              <!-- Importo -->
              <dl class="data-key-value">
                <dt>Importo</dt>
                <dd style="font-weight: bold; font-size: 150%;">{{this.amount}}&nbsp;&euro;</dd>
              </dl>

            </section>

            {{/each}}

          </section>

          <!-- Partial Amount -->
          {{#not cart.items.length 1}}
          <dl style="margin-block-start: 5mm;" class="data-key-value">
            <dt>Importo parziale</dt>
            <dd style="font-weight: bold; font-size: 150%;">{{cart.amountPartial}}&nbsp;&euro;</dd>
          </dl>
          {{/not}}

          <!-- Commissione -->
          <dl style="margin-block-start: 2mm;" class="data-key-value">
            <dt>Commissione (applicata da {{transaction.psp.name}})</dt>
            <dd style="font-weight: bold; font-size: 150%;">{{transaction.psp.fee.amount}}&nbsp;&euro;</dd>
          </dl>

          <!-- Totale -->
          <dl style="margin-block-start: 5mm;" class="data-key-value">
            <dt>Totale</dt>
            <dd style="font-weight: bold; font-size: 250%;">{{transaction.amount}}&nbsp;&euro;</dd>
          </dl>

          <!-- Bank Charges -->
          {{#if transaction.paymentMethod.extraFee}}
          <p>Il totale non include eventuali costi di invio bonifico, se applicati dal gestore della transazione (PSP).
            Per maggiori informazioni, rivolgiti alla tua banca.
          </p>
          {{/if}}



        </div>
      </main>

      {{#eq cart.items.length 1}}
      {{#if cart.items.[0].subject}}
      <!-- <dl class="data-key-value">
        <dt>Oggetto del pagamento</dt>
        <dd>{{cart.items.[0].subject}}</dd>
      </dl> -->
      {{/if}}
      {{/eq}}

      <footer>


        {{#if user.data.taxCode}}
        <p class="small">
          Poiché hai effettuato questo pagamento tramite uno strumento tracciabile, puoi usare questa ricevuta per
          le tue detrazioni o deduzioni fiscali.
        </p>
        {{/if}}

        <div class="company-info">
          <div class="pagopa-company-address">
            <p><strong>Ricevuta trasmessa da PagoPA S.p.A.</strong></p>
            <p>
              Piazza Colonna, 370<br />
              00187, Roma
            </p>
          </div>
          <div class="psp-company-address">
            <p><strong>Pagamento gestito da Nexi Payments S.p.A.</strong></p>
            <p>
              Corso Sempione, 55<br />
              20149, Milano
            </p>
          </div>
        </div>

        <p class="small">Serve aiuto? Visita <strong><u>pagopa.gov.it/assistenza</u></strong> e comunica l'ID:
          <strong class="transaction-id">{{transaction.id}}</strong>.
        </p>

      </footer>
    </div>

  </div>

</body>

</html>